# Data Partitioning

In [18]:
import numpy as np
import pandas as pd
import os
import random

In [19]:
file = pd.read_csv('Captions.txt')
file.head()

,image,caption
0,1000268201_693b08cb0e.jpg,A child in a pink dress is climbing up a set o...
1,1000268201_693b08cb0e.jpg,A girl going into a wooden building .
2,1000268201_693b08cb0e.jpg,A little girl climbing into a wooden playhouse .
3,1000268201_693b08cb0e.jpg,A little girl climbing the stairs to her playh...
4,1000268201_693b08cb0e.jpg,A little girl in a pink dress going into a woo...

In [20]:
print(len(file))

40455

In [21]:
# now remove every row divisible by 5
file = file[file.index % 5 != 0]

#now remove every 4th row
file = file[file.index % 4 != 0]
file.head(12)

,image,caption
1,1000268201_693b08cb0e.jpg,A girl going into a wooden building .
2,1000268201_693b08cb0e.jpg,A little girl climbing into a wooden playhouse .
3,1000268201_693b08cb0e.jpg,A little girl climbing the stairs to her playh...
6,1001773457_577c3a7d70.jpg,A black dog and a tri-colored dog playing with...
7,1001773457_577c3a7d70.jpg,A black dog and a white dog with brown spots a...
9,1001773457_577c3a7d70.jpg,Two dogs on pavement moving toward each other .
11,1002674143_1b742ab4b8.jpg,A little girl is sitting in front of a large p...
13,1002674143_1b742ab4b8.jpg,There is a girl with pigtails sitting in front...
14,1002674143_1b742ab4b8.jpg,Young girl with pigtails painting outside in t...
17,1003163366_44323f5815.jpg,a man sleeping on a bench outside with a white...
18,1003163366_44323f5815.jpg,A shirtless man lies on a park bench with his ...
19,1003163366_44323f5815.jpg,man laying on bench holding leash of dog sitti...

In [22]:
# now count the number of rows
print(len(file))

24273

In [23]:
# now choose first 15k rows
file = file.iloc[:3000]
# save them into a new txt file
file.to_csv('1k Pic Captions.txt', sep=',', index=False)


file2 = pd.read_csv('1k Pic Captions.txt')
file2.head()

,image,caption
0,1000268201_693b08cb0e.jpg,A girl going into a wooden building .
1,1000268201_693b08cb0e.jpg,A little girl climbing into a wooden playhouse .
2,1000268201_693b08cb0e.jpg,A little girl climbing the stairs to her playh...
3,1001773457_577c3a7d70.jpg,A black dog and a tri-colored dog playing with...
4,1001773457_577c3a7d70.jpg,A black dog and a white dog with brown spots a...

In [24]:
print(len(file2))

3000

In [25]:
# now loop through the Images folder and select the images that are in the new captions.txt file's first column
# store them into a new folder called new images
import shutil # for copying files
import os

# create a new folder called new images
os.mkdir('1k New Images AI')

# now loop through the images folder and copy the images that are in the new captions.txt file's first column
for i in range(len(file2)):
    shutil.copy('New Images AI/' + file2.iloc[i, 0], '1k New Images AI/')

In [26]:
print(len(file2))
print(len(os.listdir('New Images AI')))

3000
2000